{{#partial "content"}}
    <form method="post">
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>

        <div class="ui page grid">
            <div class="centered twelve wide column">
                <h1 class="ui centered header">
                    {{i "checkout"}}
                </h1>

                <div class="ui three ordered steps">
                  <div id="step1" class="active step">
                    <div class="content">
                      <div class="title">{{i "shipping"}}</div>
                      <div class="description">{{i "shippingDescription"}}</div>
                    </div>
                  </div>
                  <div id="step2" class="step">
                    <div class="content">
                      <div class="title">{{i "billing"}}</div>
                      <div class="description">{{i "billingDescription"}}</div>
                    </div>
                  </div>
                  <div id="step3" class="step">
                    <div class="content">
                      <div class="title">{{i "done"}}</div>
                    </div>
                  </div>
                </div>
            </div>

            <div id="shipping" class="sixteen wide column">
                <div class="ui top attached segment">
                    <div id="shippingForm" class="ui form">
                        <h3 class="ui dividing header">{{i "shippingAddress"}}</h3>
                        <div class="required field">
                            <label>{{i "name"}}</label>
                            <div class="two fields">
                                <div id="firstNameField" class="field">
                                    <input type="text" name="firstName" placeholder="{{i "firstName"}}">
                                </div>
                                <div class="field">
                                    <input type="text" name="lastName" placeholder="{{i "lastName"}}">
                                </div>
                            </div>
                        </div>

                        <div class="required field">
                            <label>{{i "email"}}</label>
                            <input type="email" name="email" placeholder="{{i "email"}}">
                        </div>

                        <div class="required field">
                            <label>{{i "streetAddress"}}</label>
                            <input type="text" name="address1" id="address1" placeholder="{{i "streetAddress"}}">
                        </div>

                        <div class="field">
                            <label>{{i "addressLine2"}}</label>
                            <input type="text" name="address2" placeholder="{{i "addressLine2"}}">
                        </div>

                        <div class="two fields">
                            <div class="required field">
                                <label>{{i "postalCode"}}</label>
                                <input id="postalCode" name="postalCode" type="text" placeholder="{{i "postalCode"}}">
                            </div>

                            <div class="required field">
                                <label>{{i "city"}}</label>
                                <input id="city" name="city" type="text" placeholder="{{i "city"}}">
                            </div>
                        </div>

                        <div class="two fields">
                            <div class="required field">
                                <label>{{i "country"}}</label>
                                <select name="country" class="ui input country">
                                </select>
                            </div>

                            <div class="field">
                                <label>{{i "stateProvince"}}</label>
                                <input class="state" name="state" type="text" placeholder="{{i "stateProvince"}}">
                            </div>
                        </div>
                        <div class="ui error message"></div>
                    </div>
                </div>

                <div class="ui bottom attached segment">
                    <a href="/cart" class="ui left floated left labeled icon button"><i class="left arrow icon"></i> {{i "back"}}</a>
                    <a href="#" id="next" class="ui primary right floated right labeled icon button">{{i "next"}} <i class="right arrow icon"></i></a>
                </div>
            </div>

            <div id="billing" class="sixteen wide column" style="display:none;">
                <div class="ui top attached segment">
                    <div class="ui form">
                        <h3 class="ui dividing header">{{i "billing"}}</h3>

                        {{> cartFragment}}

                        <p>{{{i "stripeMessage"}}}</p>
                        <input type="hidden" name="stripeToken" id="stripeToken">
                    </div>
                </div>

                <div class="ui bottom attached segment">
                    <a id="back" href="#" class="ui left floated left labeled icon button"><i class="left arrow icon"></i> {{i "back"}}</a>
                    <a id="pay" href="#" class="ui primary right floated button">{{i "payWithCard"}}</a>
                </div>
            </div>

            <div id="done" class="sixteen wide column" style="display:none;">
                <div class="ui top attached segment">
                    <div class="ui form">
                        <h3 class="ui dividing header">{{i "success"}}</h3>
                        <p>{{{i "orderSuccessful"}}}</p>
                    </div>
                </div>

                <div class="ui bottom attached segment">
                    <a href="/" class="ui primary right floated button">{{i "done"}}</a>
                </div>
            </div>
        </div>
    </form>
{{/partial}}

{{#partial "scripts"}}
<script type="text/javascript" src="/js/jeoquery.js"></script>
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="/js/jquery.serialize-object.min.js"></script>
<script type="text/javascript">
jeoquery.defaultData.userName = 'minicommerce';

var country = $('.country');
$('#shippingForm').addClass('loading');
country.jeoCountrySelect({
    callback: function () {
        $('#shippingForm').removeClass('loading');
    }
});

$('#next').click(function () {
    if ($('#shippingForm').form('validate form')) {
        $('#step1').removeClass('active');
        $('#shipping').transition('fade right', 500, function () {
            $('#billing').transition('fade left');
            $('#step2').addClass('active');
        });
    }
    return false;
});

$('#back').click(function () {
    $('#step2').removeClass('active');
    $('#billing').transition('fade left', 500, function () {
        $('#shipping').transition('fade right');
        $('#step1').addClass('active');
    });
    return false;
});  

var handler = StripeCheckout.configure({
    key: '{{stripePublic}}',
    token: function (token) {
        $('#stripeToken').val(token.id);
        $('#pay').api({
            url: '/checkout/payment',
            method: 'POST',
            serializeForm: true,
            on: 'now',
            stateContext: '#pay',
            onSuccess: function () {
                $('#step2').removeClass('active');
                $('#billing').transition('fade right', 500, function () {
                    $('#done').transition('fade left');
                    $('#step3').addClass('active');
                });
            }
        });
    }
});

$('#pay').on('click', function () {
    handler.open({
        name: '{{siteName}}',
        email: $('input[name=email]').val(),
        amount: {{cart.total.amountMinorInt}}
    });
    return false;
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
    handler.close();
});

$('#shippingForm').form({
    firstName: {
        identifier: 'firstName',
        rules: [
            {
                type: 'empty',
                prompt: '{{i "errorFirstName"}}'
            }
        ]
    },
    lastName: {
        identifier: 'lastName',
        rules: [
            {
                type: 'empty',
                prompt: '{{i "errorLastName"}}'
            }
        ]
    },
    email: {
        identifier: 'email',
        rules: [
            {
                type: 'email',
                prompt: '{{i "errorEmail"}}'
            }
        ]
    },
    address1: {
        identifier: 'address1',
        rules: [
            {
                type: 'empty',
                prompt: '{{i "errorAddress1"}}'
            }
        ]
    },
    postalCode: {
        identifier: 'postalCode',
        rules: [
            {
                type: 'empty',
                prompt: '{{i "errorPostalCode"}}'
            }
        ]
    },
    city: {
        identifier: 'city',
        rules: [
            {
                type: 'empty',
                prompt: '{{i "errorCity"}}'
            }
        ]
    },
    country: {
        identifier: 'country',
        rules: [
            {
                type: 'empty',
                prompt: '{{i "errorCountry"}}'
            }
        ]
    }
});
</script>
{{/partial}}

{{> layout title=(i "checkout")}}