{{#partial "content"}}
    <form method="post">
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>

        <div class="ui page grid">
            <div class="centered twelve wide column">
                <h1 class="ui centered header">
                    Checkout
                </h1>

                <div class="ui three ordered steps">
                  <div id="step1" class="active step">
                    <div class="content">
                      <div class="title">Shipping</div>
                      <div class="description">Enter name and address</div>
                    </div>
                  </div>
                  <div id="step2" class="step">
                    <div class="content">
                      <div class="title">Billing</div>
                      <div class="description">Enter payment information</div>
                    </div>
                  </div>
                  <div id="step3" class="step">
                    <div class="content">
                      <div class="title">Done!</div>
                    </div>
                  </div>
                </div>
            </div>

            <div id="shipping" class="sixteen wide column">
                <div class="ui top attached segment">
                    <div id="shippingForm" class="ui form">
                        <h3 class="ui dividing header">Shipping Address</h3>
                        <div class="required field">
                            <label>Name</label>
                            <div class="two fields">
                                <div id="firstNameField" class="field">
                                    <input type="text" name="firstName" placeholder="First Name">
                                </div>
                                <div class="field">
                                    <input type="text" name="lastName" placeholder="Last Name">
                                </div>
                            </div>
                        </div>

                        <div class="required field">
                            <label>Email</label>
                            <input type="email" name="email" placeholder="Email">
                        </div>

                        <div class="required field">
                            <label>Street Address</label>
                            <input type="text" name="address1" id="address1" placeholder="Street Address">
                        </div>

                        <div class="field">
                            <label>Address Line 2</label>
                            <input type="text" name="address2" placeholder="Apt, Suite, Bldg.">
                        </div>

                        <div class="two fields">
                            <div class="required field">
                                <label>Postal Code</label>
                                <input id="postalCode" name="postalCode" type="text" placeholder="Postal Code">
                            </div>

                            <div class="required field">
                                <label>City</label>
                                <input id="city" name="city" type="text" placeholder="City">
                            </div>
                        </div>

                        <div class="two fields">
                            <div class="required field">
                                <label>Country</label>
                                <select name="country" class="ui input country">
                                </select>
                            </div>

                            <div class="field">
                                <label>State/Province</label>
                                <input class="state" name="state" type="text" placeholder="State">
                            </div>
                        </div>
                        <div class="ui error message"></div>
                    </div>
                </div>

                <div class="ui bottom attached segment">
                    <a href="/cart" class="ui left floated left labeled icon button"><i class="left arrow icon"></i> Back</a>
                    <a href="#" id="next" class="ui primary right floated right labeled icon button">Next <i class="right arrow icon"></i></a>
                </div>
            </div>

            <div id="billing" class="sixteen wide column" style="display:none;">
                <div class="ui top attached segment">
                    <div class="ui form">
                        <h3 class="ui dividing header">Billing</h3>

                        {{> cartFragment}}

                        <p>Your payment is securely processed by <a href="http://stripe.com">Stripe</a>.</p>
                        <input type="hidden" name="stripeToken" id="stripeToken">
                    </div>
                </div>

                <div class="ui bottom attached segment">
                    <a id="back" href="#" class="ui left floated left labeled icon button"><i class="left arrow icon"></i> Back</a>
                    <a id="pay" href="#" class="ui primary right floated button">Pay with Card</a>
                </div>
            </div>

            <div id="done" class="sixteen wide column" style="display:none;">
                <div class="ui top attached segment">
                    <div class="ui form">
                        <h3 class="ui dividing header">Success</h3>
                        <p><b>Thank you!</b> Your order was completed successfully.</p>
                    </div>
                </div>

                <div class="ui bottom attached segment">
                    <a href="/" class="ui primary right floated button">Done</a>
                </div>
            </div>
        </div>
    </form>
{{/partial}}

{{#partial "scripts"}}
<script type="text/javascript" src="/js/jeoquery.js"></script>
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="/js/jquery.serialize-object.min.js"></script>
<script type="text/javascript">
jeoquery.defaultData.userName = 'minicommerce';

var country = $('.country');
$('#shippingForm').addClass('loading');
country.jeoCountrySelect({
    callback: function () {
        $('#shippingForm').removeClass('loading');
    }
});

$('#next').click(function () {
    if ($('#shippingForm').form('validate form')) {
        $('#step1').removeClass('active');
        $('#shipping').transition('fade right', 500, function () {
            $('#billing').transition('fade left');
            $('#step2').addClass('active');
        });
    }
    return false;
});

$('#back').click(function () {
    $('#step2').removeClass('active');
    $('#billing').transition('fade left', 500, function () {
        $('#shipping').transition('fade right');
        $('#step1').addClass('active');
    });
    return false;
});  

var handler = StripeCheckout.configure({
    key: '{{stripePublic}}',
    token: function (token) {
        $('#stripeToken').val(token.id);
        $('#pay').api({
            url: '/checkout/payment',
            method: 'POST',
            serializeForm: true,
            on: 'now',
            stateContext: '#pay',
            onSuccess: function () {
                $('#step2').removeClass('active');
                $('#billing').transition('fade right', 500, function () {
                    $('#done').transition('fade left');
                    $('#step3').addClass('active');
                });
            }
        });
    }
});

$('#pay').on('click', function () {
    handler.open({
        name: '{{siteName}}',
        email: $('input[name=email]').val(),
        amount: {{cart.total.amountMinorInt}}
    });
    return false;
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
    handler.close();
});

$('#shippingForm').form({
    firstName: {
        identifier: 'firstName',
        rules: [
            {
                type: 'empty',
                prompt: 'Please enter your first name'
            }
        ]
    },
    lastName: {
        identifier: 'lastName',
        rules: [
            {
                type: 'empty',
                prompt: 'Please enter your last name'
            }
        ]
    },
    email: {
        identifier: 'email',
        rules: [
            {
                type: 'email',
                prompt: 'Please enter a valid email'
            }
        ]
    },
    address1: {
        identifier: 'address1',
        rules: [
            {
                type: 'empty',
                prompt: 'Please enter a valid street address'
            }
        ]
    },
    postalCode: {
        identifier: 'postalCode',
        rules: [
            {
                type: 'empty',
                prompt: 'Please enter a valid postal code'
            }
        ]
    },
    city: {
        identifier: 'city',
        rules: [
            {
                type: 'empty',
                prompt: 'Please enter a valid city'
            }
        ]
    },
    country: {
        identifier: 'country',
        rules: [
            {
                type: 'empty',
                prompt: 'Please enter a valid country'
            }
        ]
    }
});
</script>
{{/partial}}

{{> layout title='Checkout'}}