{{#partial "content"}}
    <div class="hero image" style="background-image: url('/img/header.jpg')">
        <h1>{{siteName}}</h1>
        <div class="ui currency selection dropdown">
            <div class="default text">{{userCurrency}}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" data-value="{{defaultCurrency.code}}">{{currencyName defaultCurrency}} <span class="description">Default</span></div>
                {{#each currencies}}
                    <div class="item" data-value="{{code}}">{{currencyName this}}</div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="ui container">
        <div class="ui cards">
            {{#each products}}
                <a class="ui card" href="/product/{{id}}">
                    <div class="content">
                        {{#if imageUrl}}
                            <div class="ui right floated small image">
                                <img src="{{imageUrl}}">
                            </div>
                        {{/if}}
                        <div class="header">{{name}}</div>
                        <div class="meta"><span class="price">{{prettyPrice}}</span></div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
{{/partial}}

{{> layout title='Home' noNavSpace=true}}