<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} | {{siteName}}</title>
    {{#block "head"}}{{/block}}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
</head>
<body>

<div class="ui secondary menu {{#if noNavSpace}}zero margin{{/if}}">
    <a href="/" class="{{#if inBrowse}}active{{/if}} item">
        <i class="browser icon"></i> {{i "browse"}}
    </a>
    <a href="/categories" class="{{#if inCategories}}active{{/if}} item">
        <i class="tags icon"></i> {{i "categories"}}
    </a>

    <div class="right menu">
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="{{i "searchPlaceholder"}}">
                <i class="search link icon"></i>
            </div>
        </div>
        <a id="cartButton" href="/cart" class="{{#if inCart}}active{{/if}} item">
            <i class="cart icon"></i> {{i "cart"}} <div id="navCartTotal" class="ui label">{{cart.totalQuantity}}</div>
        </a>
        {{#unless inCart}}
        <div class="ui flowing popup">
            {{> cartFragment}}
            <div style="float: right">
                <a href="/cart" class="ui tiny icon button"><i class="expand icon"></i></a>
                <a id="miniCheckoutButton" href="/checkout" class="ui tiny {{#unless cart.totalQuantity}}disabled{{/unless}} icon button"><i class="right arrow icon"></i></a>
            </div>
        </div>
        {{/unless}}
    </div>
</div>

{{#block "content"}}
<h1>Add content here.</h1>
{{/block}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
<script type="text/javascript">
    $('.ui.dropdown').dropdown();

    $.fn.api.settings.successTest = function(response) {
        if(response && response.success) {
            return response.success;
        }
        return false;
    };

    $(document).on('updateCart', function (event, data) {
        if (data.cart.totalQuantity > 0) {
            $('#miniCheckoutButton').removeClass('disabled');
        } else {
            $('#miniCheckoutButton').addClass('disabled');
        }

        setTimeout(function () {
            $('.price').each(annotatePrice);
        }, 10); // I hate JavaScript.
    });

    $('#cartButton:not(.active)')
        .popup({
            inline: true,
            hoverable: true,
            transition: 'fade down',
            delay: {
                show: 100,
                hide: 500
            }
        });

    function annotatePrice(i, elem) {
        var $elem = $(elem);
        $elem.popup('destroy');
        var oldPrice = $elem.data('price') || $elem.text();
        $.get('/currency/convert/' + oldPrice).then(function (price) {
            $elem.popup('destroy');
            if (price) {
                $elem.popup({
                    content: oldPrice,
                    exclusive: false,
                    position: 'bottom center'
                });
                $elem.data('price', oldPrice);
                $elem.text(price);
            }
        });
    }

    $('.price').each(annotatePrice);

    $('.currency.selection').dropdown({
        onChange: function () {
            $(this).api({
                url: '/currency/set/{value}',
                method: 'POST',
                on: 'now',
                onSuccess: function () {
                    location.reload();
                }
            });
        }
    });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
{{#block "scripts"}}{{/block}}
</body>
</html>
