{{#partial "content"}}
<div class="ui page grid">
    <div class="sixteen wide column">
        <div class="ui top attached segment">
            <h1 class="ui center aligned header" style="margin-bottom: 0 !important">
                <div class="content">
                    {{product.name}}
                    <div class="sub header price">{{product.prettyPrice}}</div>
                </div>

                {{#if canAdd}}
                    <div id="addToCart" class="ui large primary button">{{i "addToCart"}}</div>
                    {{else}}
                    <div id="addToCart" class="ui disabled large primary button">{{i "inCart"}}</div>
                {{/if}}
            </h1>
        </div>
        <form class="ui form">
            <div class="ui bottom attached grid segment">
                <div class="seven wide column">
                    <img class="ui image" src="https://placehold.it/440x300">
                </div>
                <div class="nine wide column">
                    {{{product.description}}}
                </div>
            </div>
        </form>
    </div>
</div>
{{/partial}}

{{#partial "scripts"}}
<script type="text/javascript">
    $('#addToCart').api({
        url: '/cart/add/{id}',
        urlData: {
            id: {{product.id}}
        },
        method: 'POST',
        onSuccess: function (data) {
            $(document).trigger('updateCart', [data]);
        }
    });

    $(document).on('updateCart', function (e, data) {
        var inCart = false;
        data.cart.items.forEach(function (item) {
            if (item.product.id == {{product.id}})
                inCart = true;
        });

        if (inCart) {
            $('#addToCart').state('disable').text('{{i "inCart"}}');
        } else {
            $('#addToCart').state('enable').text('{{i "addToCart"}}');
        }
    });
</script>
{{/partial}}

{{> layout title=product.name}}