{{#partial "content"}}
<div class="ui page grid">
    <div class="sixteen wide column">
        <div class="ui top attached segment">
            <h1 class="ui center aligned header">
                <div class="content">
                    {{product.name}}
                    <div class="sub header">{{product.prettyPrice}}</div>
                </div>

                {{#if canAdd}}
                    <div id="addToCart" class="ui large primary button">Add to Cart</div>
                    {{else}}
                    <div id="addToCart" class="ui disabled large primary button">In Cart</div>
                {{/if}}
            </h1>
        </div>
        <form class="ui form">
            <div class="ui bottom attached one column grid segment">
                {{!-- <div class="center aligned column">
                    <div class="product options">
                        <div class="inline field">
                            <label>Some Choice</label>
                            <select class="ui selection dropdown">
                                <option value="0">Option 1</option>
                                <option value="1">Option 2</option>
                            </select>
                        </div>
                    </div>
                </div> --}}
                <div class="column">
                    Pictures go here.<br>

                    <b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel libero vero delectus, ab repudiandae ullam, optio voluptates similique sapiente!</b> Aperiam perspiciatis ipsa saepe exercitationem tempora laudantium quibusdam nisi dolore quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, dolor repellat aperiam nam sit? Ea molestiae rem est sunt eligendi beatae repellat similique odio excepturi voluptatibus commodi perspiciatis sed, quos!
                </div>
            </div>
        </form>
    </div>
</div>
{{/partial}}

{{#partial "scripts"}}
<script type="text/javascript">
    $('.ui.dropdown').dropdown();

    $('#addToCart').api({
        url: '/cart/add/{id}',
        urlData: {
            id: {{product.id}}
        },
        method: 'POST',
        onSuccess: function (data) {
            $(document).trigger('updateCart', [data]);
        }
    });

    $(document).on('updateCart', function (e, data) {
        var inCart = false;
        data.cart.items.forEach(function (item) {
            if (item.product.id == {{product.id}})
                inCart = true;
        });

        if (inCart) {
            $('#addToCart').state('disable').text('In Cart');
        } else {
            $('#addToCart').state('enable').text('Add to Cart');
        }
    });
</script>
{{/partial}}

{{> layout title=product.name}}